.status-404{
    padding: 50px 200px;
    background-color: #2a4f6d;
}
.MuiPaper-elevation{
box-shadow: none !important;
border: none !important;
outline: none !important;
}

.accordian-body{
    color: #666C89;

}